:root {
    --purple: #6f589b;
    --grey: #413944;
    --salmon: #f8d6c9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../assets/images/me.jpg");
    background-image: -webkit-linear-gradient(-45deg, #000000 7%, rgba(0,0,0,0.5) 25%);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    margin: auto auto auto 5%;
    font-weight: bold;
    font-size: 4.5vw;
    color: var(--salmon);
    text-shadow: -5px 0 0 rgba(0, 0, 0, 0.6);
}

header a {
    color: var(--salmon);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

header nav ul li a {
    
    padding: 20px 25px;
    font-weight: lighter;
    font-size: 2.5vw;
    text-shadow: -5px 0 0 rgba(0, 0, 0, 0.6) ;
}

.hero {
    background-image: url('../assets/images/me.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position:80%;
}

.hero-intro {
    width: 40%;
    margin:4% auto 4% 4%;
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.5;
}

.hero-intro h2 {
    text-align: center;
}

.hero-intro p {
    text-align: justify;
}

