:root {
    --purple: #6f589b;
    --grey: #413944;
    --salmon: #f8d6c9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 30px;
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-weight: bold;
    font-size: 36px;
    color: var(--salmon);
    text-shadow: -5px 0 0 rgba(0, 0, 0, 0.6);
}

header a {
    color: var(--salmon);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

header nav ul li a {
    
    padding: 20px 25px;
    font-weight: lighter;
    font-size: 1.90vw;
    text-shadow: -5px 0 0 rgba(0, 0, 0, 0.6) ;
}


.hero {
    background-image: url('../assets/images/me.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position:80%;
}

.hero-intro {
    width: 40%;
    margin:30px 750px 50px 20px;
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.5;
}

.hero-intro h2 {
    text-align: center;
}

.hero-intro p {
    text-align: justify;
    font-weight: bold;
}

